<div id="<%= dom_id movie %>">
  <td><%= movie.title %></td>
  <td><%= movie.rating %></td>
  </p>
  <td><%= movie.release_date %></td>
  <td><%= link_to "Show this movie", movie %></td>
  </tr>
</div>
